@using ECommerce.Entities
@model List<Brand>

    <div class="brands_products">
        <!--brands_products-->
        <h2>Brands</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var brand in Model)
                {
                    <li><a href='@Url.Action("Index", "Product", new { BrandId=brand.ID})'> <span class="pull-right">(50)</span>@brand.Name</a></li>
                }
            </ul>
        </div>
    </div>
